@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-light text-dark;
  }
}

/* Custom Scrollbar for mobile-like feel on desktop */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #a8a29e;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #78716c;
}